@font-face {
  font-family: "Rye";
  src: url("../fonts/rye-v7-latin-regular.woff") format("woff"),
       url("../fonts/rye-v7-latin-regular.woff2") format("woff2"),
       url("../fonts/rye-v7-latin-regular.ttf") format("ttf"),
       url("../fonts/rye-v7-latin-regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "abril-fatface";
  src: url("../fonts/abril-fatface-v11-latin-regular.woff") format("woff"),
       url("../fonts/abril-fatface-v11-latin-regular.woff2") format("woff2"),
       url("../fonts/abril-fatface-v11-latin-regular.ttf") format("ttf"),
       url("../fonts/abril-fatface-v11-latin-regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cardo";
  src: url("../fonts/cardo-v11-latin-regular.woff") format("woff"),
       url("../fonts/cardo-v11-latin-regular.woff2") format("woff2"),
       url("../fonts/cardo-v11-latin-regular.ttf") format("ttf"),
       url("../fonts/cardo-v11-latin-regular.eot") format("eot");
}

* {
  box-sizing: border-box;
  /*without this if u set padding 20 and set a box with 200 width,
  u have 240 width box but with this option u have 200 width fix*/
}

html, body {
  margin: 0px;
  padding: 0px;
}

ul, li {
  padding: 0px; /*Padding fasele az daroon*/
  margin: 0px; /*Padding fasele az biroon*/
  display: inline; /*Namayesh dar yek khat*/
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.main-header {
  background-image: url("../images/Background.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  text-align: center;
}

.main-header nav {
  border-bottom: 1px solid rgba(150, 150, 150, 0.8);
}

.main-header li {
  margin-top: 0;
  font-family: "abril-fatface";
  font-variant-caps: all-petite-caps;
}

.main-header a {
  display: inline-block;
  padding: .2em 2em;
  font-size: 1.4em;
  font-weight: bold;
}

.main-header a:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.band-name {
  margin: 0px;
  padding: 0px;
  font-family: "Rye";
  font-weight: normal;
  color: white;
  font-size: 3em;
  padding: 0px;
}

.band-name-large {
  padding: 20px;
  font-size: 4.5em;
}

.container {
  margin: 0em 10% ;
}

.section-contain {
  margin: 0em 1.5em 1em 1.5em;
  color: rgba(0, 0, 0, 0.7);
}

.section-contain p {
  margin: 0em;
  padding: 0em;
  font-family: "cardo";
  font-weight: normal;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.7);
}

.section-contain h2 {
  margin: 0px;
  padding: 1em 0;
  text-align: center;
  font-family: "abril-fatface";
  font-size: 2.5em;
  color: rgba(40, 40, 40, 0.9);
}

.about-band-image {
  width: 250px;
  float: left;
  margin: 1em 1em 0em 0em;
  padding: 0em;
  border-radius: 10%;
}

.footer {
  background-color: rgba(0, 156, 255, 0.6);
  display: flex;
  align-items: center;

}

.footer h3 {
  margin: 0 .5em;
}

.footer a {
  margin: 0 .5em;
}

.footer nav {
  flex-grow: 1;
  text-align: right;
}

.btn {
  border-radius: 0%;
  color: #2D9CDB;
  font-family: cardo;
  font-weight: bold;
  font-size: 1.8em;
  padding: .5em 2em .5em 2em;
  border: 2px solid;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: .5em;
  margin-top: .1em;
  text-align: center;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.btn:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2.5em;
  margin-bottom: .5em;
}

.row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.row:last-child {
  border: none;
}

.row-item {
  display: inline-block;
  padding-right: .5em;
}

.row-strong {
  font-weight: bold;
  width: 13%;
}

.row-location {
  width: 20%;
}

.row-place {
  width: 40%;
}

.row-button {
  max-width: 23%;
  align-items: flex-end;
  padding: .5em 2em .5em 2em;
  color: white;
  background-color: #2D9CDB;
  border-width: 1px;
  border: 1px solid #2D9CDB;
  border-radius: .5em;
  font-weight: bold;
  font-size: 1em;
}
